/* hiding scrollbar in Chrome, Safari and Opera */
.noScrollBar::-webkit-scrollbar {
  display: none;
}

/* hiding the scrollbar on firefox, Edge and IE */
.noScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* for firefox */
}

.slideShowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #757575;
}

.input {
  font-size: 1rem;
  padding: 10px 1px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}

.input:focus {
  outline: none;
}

.backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
}

.mapStyles{
  width: "100%";
  height: "100vh";
}

@media only screen and (min-width: 1024px) {
  .mapStyles {
      width: calc(100vw - 400px) !important;
  }
}

@media only screen and (min-width: 1280px) {
  .mapStyles {
    width: calc(100vw - 700px) !important;
  }
  
}
